body{
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}

#banner{
    background-color: #f4f4f4;
    color: crimson;
    overflow: auto;
    width: 80%;
    border-bottom: 1px #cdcdcd solid;
    margin-bottom: 0;
    padding-left : 10%;
    padding-right : 10%;
    padding-top:1em;
    padding-bottom:1em;
}

#banner h1{
    display: inline;
    vertical-align: 25%;
}

#log-out{
    width: 10em;
    float: right;
    position: relative;
}

#log-out img{
    width: 64px;
    height: 64px;
    float: left;
}

#log-out ul{
    list-style-type: none;
    display: inline;
    position: absolute;
    left: 72px;
    top: 0px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

#log-out ul li{
    width: 100%;
    color: #7a7a7a;
}

#log-out a{
    display: block;
    width: 6em;  
    background-color: #9a9a9a;  
    color: white;
    text-decoration: none;
    margin: 0;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    padding: 1px 3px;
}

#log-out a:hover{
    background-color: #6a6a6a;
}

#search-form {
    float: right;
    clear: both;
	background: #e1e1e1; 
	width: 26em;
	margin-bottom:10px;
	margin-top:10px;
    margin-right: 10%;
	background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
	background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);
	border-radius: 17px; 
	box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3); 
    position: relative;
    top: -40px;
}

#search-form input[type="text"]{
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
	border: 0;
	border-bottom: 1px solid #fff;
	border-right: 1px solid rgba(255,255,255,.8);
	font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 4px;
	padding: 6px;
    width: 13.2em;
	border-radius: 17px; 
	box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
	text-indent: 8px;
}

#search-form input[type="text"]:focus{
	background: #fff; 
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(235,235,235)));
}

#search-form a{
	background-color: #44921f;
    width: 6em;
	font-size: 12px;
	border: none;
	color: white;
	text-decoration: none;
    text-align: center;
	font-weight: bold;
	padding: 8px 12px;
    margin-left: 6px;
	border-radius: 12px; 
		
}

#search-form a:hover{
    background-color: #44701f;
}

@media (max-width:760px){
    #search-form input[type="text"]{
        width: 93%;
        background-color: red;
        margin-bottom: 12px;
    }
    #search-form {
        width: 98%;
        padding-bottom: 14px;
        text-align: center;
    }    
}

#nav{
    border-bottom: 1px #cdcdcd solid;
    margin: 6px 0;
    height: 50px;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    line-height: 2em;
}

#nav li{
    display: inline;
}

#nav li a{
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 6px 16px;
    border-left: 1px solid #cdcdcd;
    position: relative;
    top: 10px;
    
}

#nav li a:hover{
    background-color: #cdcdcd;
    color: white;
}

@media (max-width:1200px){
    #nav ul{
        margin-left: 0;
    }
    #search-form{
        margin-right: 8%;
        right: 0;
        
    }
}
@media (max-width:760px){
    #nav{
        height: 76px;
    }
    #nav ul{
        width: 100%;
        margin-left: 0;
    }
    
    #search-form{
        margin-right: 0;
        top: 10px;
        float: none;
    }
}



